<ul>
  <li>
    <form action="/callout" id='rolling_window_form' method="get" class="form-horizontal" enctype="multipart/form-data" style='margin-top: -25px;' >
      <div class='row'>
        <div class='col-md-8'>
          <h3 style='margin-top: 5px;'> Usage Rolling Window Update </h3>
        </div>
      <div class='col-md-3 col-md-offset-1' style=""> 
        <input type="hidden" name='type' value='UsageRollingWindow'/>
 
        <input type="submit" class="btn btn-mi" id='rolling_window_submit_btn' value='Submit'/>
      </div>
    </form>
  </li>
</ul>