<div class='row'>
  <form action="/callout"  method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class='col-md-8'>
      <h3 style='margin-top: 0px;'>Recalculate Usage Tracking</h3>
      <p> Usage must be populated with charge id inside of Zuora</p>
    </div>
  <div class='col-md-3 col-md-offset-1' style="margin-top: 10px;"> 
    <input type="hidden" name='type' value='UsageRollingWindow'/>
    <input type="submit" class="btn btn-mi" value='Submit'/>
  </div>
  </form>
</div>